<div class="form popup">
	<div class="icon close">
		&#x2716;
	</div>
	<input class="title" type="text" value="" placeholder="Name of Experiment">
	<div class="c2">
		<div class="box">
			<h3>
				Input variables
			</h3>
		</div>
	</div>
	<div class="c2">
		<div class="box">
			<h3>
				Independent variables
			</h3>

		</div>
	</div>
</div>