<div class="sidebar">
    <h2>
      <%= link_to "My Experiments", root_path %>
    </h2>
    <% @experiments.each do |e| %>
        <li>
            <%= link_to e.name, e %>
        </li>
    <% end %>
    <h6 class="new">
    	+ Create new experiment
	</h6>
</div>
