<div class="sidebar">
    <% @experiments.each do |e| %>
        <li>
            <%= link_to e.name, e %>
        </li>
    <% end %>
</div>

<div class="content">
    <% @experiments.each do |e| %>
    <div class="experiment">
        <div class="c2">
            <h2>
                 <%= link_to e.name, e %>
            </h2>
            <h5>
                45th May 2015 - 21st July 2018
            </h5>
            <h3>
                Breakfast: &#10003;
            </h3>
            <h3>
                Lunch: &#10003;
            </h3>
            <h3>
                Dinner: Waiting...
            </h3>
        </div>
        <div class="c2">
            <div class="graph">

            </div>
        </div>
    </div> 
    <% end %>
</div>

<%= link_to 'new experiment', new_experiment_path %>
