

<div class="content">
    <% @experiments.each do |e| %>
    <div class="experiment">
        <div class="c2">
            <h2>
                 <%= link_to e.name, e %>
            </h2>
            <h5>
              <%= e.created_at.strftime("%d %b. %Y") %> - Present
            </h5>
            <h3>
                Breakfast: &#10003;
            </h3>
            <h3>
                Lunch: &#10003;
            </h3>
            <h3>
                Dinner: Waiting...
            </h3>
        </div>
        <div class="c2">
            <div class="graph">
                
            </div>
        </div>
    </div> 
    <% end %>
</div>
