<div class="form popup">
	<input class="title" type="text" value="" placeholder="Name of Experiment">
	<div class="c2">
		<div class="box">
			<h4>
				Input variables
			</h4>
		</div>
	</div>
	<div class="c2">
		<div class="box">
			<h4>
				Independent variables
			</h4>
		</div>
	</div>
</div>