<div class="form popup">
	<input class="title" type="text" value="" placeholder="Name of Experiment">
	<div class="c2">
		<input class="var" type="checkbox"> I have a car
	</div>
	<div class="c2">

	</div>
</div>